@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    --primary-color: rgb(243, 243, 243);
    --fav-color: #FE251B;

    --box-shadow-1: 1px 0px 7px 1px rgba(0, 0, 0, 0.1);
    --box-shadow-2: 1px 2px 7px rgba(0, 0, 0, 0.1);
    --box-shadow-3: 1px 2px 9px rgba(0, 0, 0, 0.2);

    --transition-all: all 0.3s ease;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* NavRow.jsx */
nav {
    background-color: var(--primary-color);
    padding: 0.5rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow-1);
}

.nav-right {
    height: 38px;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.nav-form {
    height: 100%;
}

.nav-form input {
    width: 200px;
    height: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: rgb(233, 233, 233);
    border: 1px rgb(194, 194, 194) solid;
    border-right: none;
    border-radius: 4px 0 0 4px;
    transition: var(--transition-all);
}

.nav-form input:focus {
    outline: none;
    border: 1px rgb(143, 143, 143) solid;
    border-right: none;
}

.nav-right button {
    height: 100%;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    transition: var(--transition-all);
}

.nav-right button:hover {
    background-color: rgb(41, 41, 41);
}

.nav-form button {
    border-radius: 0 4px 4px 0;
}

/* Favorite.jsx */
.favorites-row {
    width: 90vw;
    padding: 0.3rem 1rem;
    margin: 1rem auto 0;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    box-shadow: var(--box-shadow-2);
    border-radius: 5px;
}

.favorite-meals {
    display: flex;
    flex-wrap: wrap;
}

.single-fav-meal {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-fav-meal img {
    width: 3rem;
    height: 3rem;
    background-color: beige;
    border-radius: 1.5rem;
    border: 2px solid rgb(180, 180, 180);
}

.single-fav-meal img:hover {
    cursor: pointer;
}

.single-fav-meal p {
    font-size: 0.75rem;
    color: rgb(180, 180, 180);
    transition: var(--transition-all);
}

.single-fav-meal p:hover {
    color: var(--fav-color);
    cursor: pointer;
}

/* Meals.jsx */
.status-container { 
    margin: 10rem 0 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.all-meals {
    width: 90vw;
    max-width: 1100px;
    padding: 1rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.single-meal {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow-2);
    transition: var(--transition-all);
}

.single-meal:hover {
    box-shadow: var(--box-shadow-3);
    cursor: pointer;
}

.single-meal img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.meal-row {
    padding: 0 1rem 0.3rem;
    display: flex;
    justify-content: space-between;
}

.meal-row h2 {
    font-weight: normal;
}

.meal-row button {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

.meal-row button .filled-heart {
    color: var(--fav-color);
}

.meal-row button .outlined-heart {
    transition: var(--transition-all);
}

.meal-row button .outlined-heart:hover {
    transform: translateY(-0.2rem);
    color: var(--fav-color);
}

/* Modal.jsx */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.content-container {
    width: 70vw;
    max-width: 600px;
    height: 70vh;
    position: relative;
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
}

.content-container .close {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 200;
    transition: var(--transition-all);
}

.content-container .close:hover {
    transform: rotate(90deg);
}

.content-container img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.content-container .text-content {
    padding: 1rem;
}

.content-container a {
    color: rgb(10, 13, 197);
}

/* Responsive */
@media screen and (max-width: 900px) {
    .all-meals {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .all-meals {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .nav-form input {
        width: 30vw;
    }

    .content-container {
        width: 90vw;
    }

    .content-container img {
        height: 30vh;
    }
}
